.container_content {
  margin-left: 10%;
}

.row_content {
  margin: 150px 0px 100px;
}

.name_heading {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  .name_heading {
    font-size: 20px;
  }
}

.name_head {
  background: -webkit-linear-gradient(#159957, #155799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_heading {
  font-size: 25px;
  font-weight: 500;
}

.download_btn {
  background-image: linear-gradient(to right, #159957, #155799);
  color: white;
}
.download_btn:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  .download_btn {
    font-size: 12px;
  }
}

.title_para {
  font-size: 20px;
}

.features_row {
  margin: 20px 0px;
}
.features_row > h1 {
  font-size: 48px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .features_row > h1{
    font-size: 36px;
    font-weight: 600;
  }
}

.feature_col {
  border-radius: 50px;
  padding: 30px 30px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 0;
  min-height: 300px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.feature_badge {
  z-index: 1;
  margin-top: -60px;
  font-size: 56px;
}
@media only screen and (max-width: 600px) {
  .feature_badge{
    font-size: 38px;
    margin-top: -48px;
  }
}

.step_badge {
  font-size: 48px;
  margin-top: 20px;
  background: -webkit-linear-gradient(#159957, #155799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg {
  background-image: linear-gradient(to right, #159957, #155799);
}

.how_to_use_heading {
  font-size: 48px;
  font-weight: 600;
}

.footer_heading {
  font-weight: 600;
}
